/*
  -- Default dark theme -------------------------------------------------------
*/
/*
  -- Global -------------------------------------------------------------------
*/
/* line 17, ../../../sass/themes/default-dark/screen.scss */
body {
  color: #eee;
  background-color: #111;
  background: linear-gradient(to bottom right, #111111, rgba(17, 17, 17, 0.9));
}

/* line 26, ../../../sass/themes/default-dark/screen.scss */
a {
  color: #eee;
}

/* line 30, ../../../sass/themes/default-dark/screen.scss */
h1 {
  border-bottom: 1px solid #666;
}

/* line 34, ../../../sass/themes/default-dark/screen.scss */
h2 {
  border-bottom: 1px solid #666;
}

/* line 38, ../../../sass/themes/default-dark/screen.scss */
* {
  scrollbar-color: #666 #111;
}

/* line 42, ../../../sass/themes/default-dark/screen.scss */
*::-webkit-scrollbar {
  width: 12px;
}

/* line 45, ../../../sass/themes/default-dark/screen.scss */
*::-webkit-scrollbar-track {
  background: #111;
}

/* line 48, ../../../sass/themes/default-dark/screen.scss */
*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #111;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
/* line 58, ../../../sass/themes/default-dark/screen.scss */
.topbar {
  border-bottom-color: #666;
}
/* line 61, ../../../sass/themes/default-dark/screen.scss */
.topbar .songArtist {
  color: #ddd;
}

/* line 67, ../../../sass/themes/default-dark/screen.scss */
nav.topbarNav a {
  background: linear-gradient(to top, #222222, rgba(51, 51, 51, 0.9));
}
/* line 71, ../../../sass/themes/default-dark/screen.scss */
nav.topbarNav a:hover {
  background: linear-gradient(to top, #006600, rgba(0, 102, 0, 0.5));
}
/* line 73, ../../../sass/themes/default-dark/screen.scss */
nav.topbarNav a:hover .icon-cog {
  background: linear-gradient(to top, #006600, rgba(0, 102, 0, 0.5));
}

/*
  -- Artists navigation -------------------------------------------------------
*/
/* line 83, ../../../sass/themes/default-dark/screen.scss */
.artists-navigation .song {
  background-color: #333;
}

/* line 88, ../../../sass/themes/default-dark/screen.scss */
.filter {
  background-color: #333;
}
/* line 91, ../../../sass/themes/default-dark/screen.scss */
.filter input {
  background-color: black;
}

/* line 96, ../../../sass/themes/default-dark/screen.scss */
a.active {
  background-color: #060 !important;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
/* line 104, ../../../sass/themes/default-dark/screen.scss */
.songs-header-container, .playlist-header {
  background-color: #333;
}

/* line 110, ../../../sass/themes/default-dark/screen.scss */
.list thead th {
  background-color: #333;
}
/* line 116, ../../../sass/themes/default-dark/screen.scss */
.list tbody tr:nth-child(even) {
  background-color: #111;
}
/* line 121, ../../../sass/themes/default-dark/screen.scss */
.list tr.playing {
  background-color: #060 !important;
}
/* line 125, ../../../sass/themes/default-dark/screen.scss */
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  -- Radios -------------------------------------------------------------------
*/
/* line 135, ../../../sass/themes/default-dark/screen.scss */
.radio.activeRadio {
  background-color: #060 !important;
}

/* line 140, ../../../sass/themes/default-dark/screen.scss */
.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #111;
}

/*
  -- Context menus ------------------------------------------------------------
*/
/* line 148, ../../../sass/themes/default-dark/screen.scss */
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
}
/* line 151, ../../../sass/themes/default-dark/screen.scss */
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  background-color: black;
}
/* line 155, ../../../sass/themes/default-dark/screen.scss */
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background: rgba(0, 102, 0, 0.8);
}

/*
  -- Settings -----------------------------------------------------------------
*/
/*
  -- Forms ---------------------------------------------------------------
*/
/* line 170, ../../../sass/themes/default-dark/screen.scss */
input[type="text"] {
  color: #eee;
  background-color: #111;
  border: 1px solid #555 !important;
}

/* line 176, ../../../sass/themes/default-dark/screen.scss */
.input-reset {
  background-color: #111;
}

/* line 180, ../../../sass/themes/default-dark/screen.scss */
.input-reset:after {
  color: #eee;
  background-color: #111;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
/* line 189, ../../../sass/themes/default-dark/screen.scss */
form div div input {
  border: 1px solid #666;
}

/* line 193, ../../../sass/themes/default-dark/screen.scss */
.button {
  color: #eee;
  background: linear-gradient(to top, #222222, rgba(51, 51, 51, 0.9));
}

/* line 198, ../../../sass/themes/default-dark/screen.scss */
.button:hover {
  background: linear-gradient(to top, #006600, rgba(0, 102, 0, 0.5));
}
