/*
  -- Default clear theme -------------------------------------------------------
*/
/*
  -- Global -------------------------------------------------------------------
*/
/* line 17, ../../../sass/themes/default-clear/screen.scss */
body {
  color: #111;
  background-color: #eee;
  background: linear-gradient(to bottom right, #dddddd, rgba(221, 221, 221, 0.8));
}

/* line 26, ../../../sass/themes/default-clear/screen.scss */
a {
  color: #111;
}

/* line 30, ../../../sass/themes/default-clear/screen.scss */
h1 {
  border-bottom: 1px solid #666;
}

/* line 34, ../../../sass/themes/default-clear/screen.scss */
h2 {
  border-bottom: 1px solid #666;
}

/* line 38, ../../../sass/themes/default-clear/screen.scss */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 #111;
}

/* line 42, ../../../sass/themes/default-clear/screen.scss */
*::-webkit-scrollbar {
  width: 12px;
}

/* line 45, ../../../sass/themes/default-clear/screen.scss */
*::-webkit-scrollbar-track {
  background: #111;
}

/* line 48, ../../../sass/themes/default-clear/screen.scss */
*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #111;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
/* line 57, ../../../sass/themes/default-clear/screen.scss */
.topbar {
  border-bottom-color: #666;
}
/* line 60, ../../../sass/themes/default-clear/screen.scss */
.topbar .songArtist {
  color: #333;
}

/* line 66, ../../../sass/themes/default-clear/screen.scss */
nav.topbarNav a {
  background: linear-gradient(to top, #dddddd, rgba(204, 204, 204, 0.9));
}
/* line 70, ../../../sass/themes/default-clear/screen.scss */
nav.topbarNav a:hover {
  background: linear-gradient(to top, #bfff00, rgba(191, 255, 0, 0.5));
}

/*
  -- Artists navigation -------------------------------------------------------
*/
/* line 79, ../../../sass/themes/default-clear/screen.scss */
.artists-navigation .song {
  background-color: #ccc;
}

/* line 84, ../../../sass/themes/default-clear/screen.scss */
.filter {
  background-color: #ccc;
}
/* line 87, ../../../sass/themes/default-clear/screen.scss */
.filter input {
  background-color: white;
}

/* line 92, ../../../sass/themes/default-clear/screen.scss */
a.active {
  background-color: #bfff00 !important;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
/* line 100, ../../../sass/themes/default-clear/screen.scss */
.songs-header-container, .playlist-header {
  background-color: #ccc;
}

/* line 106, ../../../sass/themes/default-clear/screen.scss */
.list thead th {
  background-color: #ccc;
}
/* line 112, ../../../sass/themes/default-clear/screen.scss */
.list tbody tr:nth-child(even) {
  background-color: #c8c8c8;
}
/* line 117, ../../../sass/themes/default-clear/screen.scss */
.list tr.playing {
  background-color: #bfff00 !important;
}
/* line 121, ../../../sass/themes/default-clear/screen.scss */
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  -- Radios -------------------------------------------------------------------
*/
/* line 131, ../../../sass/themes/default-clear/screen.scss */
.radio.activeRadio {
  background-color: #bfff00 !important;
}

/* line 136, ../../../sass/themes/default-clear/screen.scss */
.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #c8c8c8;
}

/*
  -- Context menus ------------------------------------------------------------
*/
/* line 144, ../../../sass/themes/default-clear/screen.scss */
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
}
/* line 147, ../../../sass/themes/default-clear/screen.scss */
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  background-color: white;
}
/* line 151, ../../../sass/themes/default-clear/screen.scss */
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background: rgba(191, 255, 0, 0.8);
}

/*
  -- Settings -----------------------------------------------------------------
*/
/*
  -- Forms ---------------------------------------------------------------
*/
/* line 166, ../../../sass/themes/default-clear/screen.scss */
input[type="text"] {
  color: #111;
  background-color: #eee;
  border: 1px solid #555 !important;
}

/* line 172, ../../../sass/themes/default-clear/screen.scss */
.input-reset {
  background-color: #eee;
}

/* line 176, ../../../sass/themes/default-clear/screen.scss */
.input-reset:after {
  color: #111;
  background-color: #eee;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
/* line 185, ../../../sass/themes/default-clear/screen.scss */
form div div input {
  border: 1px solid #666;
}

/* line 189, ../../../sass/themes/default-clear/screen.scss */
.button {
  color: #111;
  background: linear-gradient(to top, #dddddd, rgba(204, 204, 204, 0.9));
}

/* line 194, ../../../sass/themes/default-clear/screen.scss */
.button:hover {
  background: linear-gradient(to top, #bfff00, rgba(191, 255, 0, 0.5));
}
