/*
  -- Default clear theme -------------------------------------------------------
*/
/*
  --  1. Global ---------------------------------------------------------------
*/
body {
  color: #111;
  background-color: #eee;
  background: linear-gradient(to bottom right, #dddddd, rgba(221, 221, 221, 0.8));
}

a {
  color: #111;
}

h1 {
  border-bottom: 1px solid #666;
}

h2 {
  border-bottom: 1px solid #666;
}

* {
  scrollbar-color: #111 #666;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #111;
}

/*
  --  2. Topbar ---------------------------------------------------------------
*/
.topbar {
  border-bottom-color: #666;
}
.topbar .songArtist {
  color: #333;
}
.topbar .progressbar {
  background-color: #666;
}

nav.topbarNav a {
  background: linear-gradient(to top, #dddddd, rgba(204, 204, 204, 0.9));
}
nav.topbarNav a:hover {
  background: linear-gradient(to top, lightgreen, rgba(144, 238, 144, 0.5));
}

/*
  --  3. Artists navigation ---------------------------------------------------
*/
.artists-navigation .song {
  background-color: #ccc;
}

.filter {
  background-color: #ccc;
}
.filter input {
  background-color: white;
}

a.active {
  background-color: #90ee90 !important;
}

/*
  --  5. Songs and playlist panels --------------------------------------------
*/
.songs-header-container, .playlist-header {
  background-color: #ccc;
}

.list thead th {
  background-color: #ccc;
}
.list tbody tr:nth-child(even) {
  background-color: #c8c8c8;
}
.list tr.playing, .list tr.selected {
  background-color: #90ee90 !important;
}
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  --  7. Radios ---------------------------------------------------------------
*/
.radio.activeRadio {
  background-color: #90ee90 !important;
}

.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #c8c8c8;
}

/*
  --  8. Settings-view --------------------------------------------------------
*/
/*
  -- 11. Forms ----------------------------------------------------------------
*/
#navigationSearchForm {
  background-color: #c8c8c8;
}

input[type=text] {
  color: #111;
  background-color: #eee;
  border: 1px solid #555 !important;
}

.input-reset {
  background-color: #eee;
}

.input-reset:after {
  color: #111;
  background-color: #eee;
}

/*
  -- 12. Crud forms -----------------------------------------------------------
*/
form div div input {
  border: 1px solid #666;
}

.button {
  color: #111;
  background: linear-gradient(to top, #dddddd, rgba(204, 204, 204, 0.9));
}

.button:hover {
  background: linear-gradient(to top, lightgreen, rgba(144, 238, 144, 0.5));
}

/*
  -- 13. Context menus --------------------------------------------------------
*/
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
}
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  background-color: white;
}
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background: rgba(191, 255, 0, 0.8);
}

/*# sourceMappingURL=screen.css.map */
