/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 9, ../sass/_hamburger.scss */
.hamburger {
  padding: 10px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  right: 0;
}

/* line 27, ../sass/_hamburger.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 31, ../sass/_hamburger.scss */
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 38, ../sass/_hamburger.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px;
}

/* line 44, ../sass/_hamburger.scss */
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: white !important;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

/* line 58, ../sass/_hamburger.scss */
.hamburger-inner::after,
.hamburger-inner::before {
  color: white !important;
  content: "";
  display: block;
}

/* line 65, ../sass/_hamburger.scss */
.hamburger-inner::before {
  top: -10px;
}

/* line 69, ../sass/_hamburger.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/* line 75, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 81, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

/* line 86, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 91, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

/* line 96, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

/* line 101, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/* line 3, ../sass/layout.scss */
ul.topNav {
  position: relative;
  width: 100% !important;
  background-color: #555;
}
/* line 9, ../sass/layout.scss */
ul.topNav.is-active {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 10;
}
/* line 16, ../sass/layout.scss */
ul.topNav.is-active li {
  text-align: center;
  float: none;
}
/* line 20, ../sass/layout.scss */
ul.topNav.is-active li a {
  width: 100%;
  text-align: center;
}
/* line 24, ../sass/layout.scss */
ul.topNav.is-active li a .icon-cog {
  float: none;
}
/* line 31, ../sass/layout.scss */
ul.topNav li {
  float: left;
}

/*
  -- Default layout -----------------------------------------------------------
*/
/*
  -- Global -------------------------------------------------------------------
*/
/* line 47, ../sass/layout.scss */
html, body {
  height: 100%;
}

/* line 51, ../sass/layout.scss */
table {
  table-layout: fixed;
}

/* line 55, ../sass/layout.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 61, ../sass/layout.scss */
.noPadding {
  padding: 0 !important;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
/* line 71, ../sass/layout.scss */
.topbar {
  height: 49px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* -- Artists navigation -- */
}
/* line 79, ../sass/layout.scss */
.topbar > div {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  line-height: 49px;
  border: 0px solid red;
}
/* line 88, ../sass/layout.scss */
.topbar .logo {
  padding: 0 20px;
  border: 0px solid red;
}
/* line 94, ../sass/layout.scss */
.topbar [class^="icon-"] {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
  font-size: 120%;
  cursor: pointer;
  border: 0px solid red;
}
/* line 105, ../sass/layout.scss */
.topbar .icon-play, .topbar .icon-pause {
  font-size: 150%;
}
/* line 109, ../sass/layout.scss */
.topbar .icon-to-end {
  margin-left: -2px;
}
/* line 113, ../sass/layout.scss */
.topbar .icon-cog {
  height: 100%;
  font-size: 26px;
  text-align: center;
}
/* line 119, ../sass/layout.scss */
.topbar .songInfo {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 128, ../sass/layout.scss */
#searchForm {
  display: inline-block;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
}
/* line 134, ../sass/layout.scss */
#searchForm input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 130px;
  height: 39px;
  border: 0;
  padding: 0 10px;
  border: 0px solid lime;
}
/* line 145, ../sass/layout.scss */
#searchForm input[type="submit"] {
  display: inline-block;
  border: 0;
  height: 49px;
  line-height: 49px;
  vertical-align: top;
  border: 0px solid lime;
}

/* line 155, ../sass/layout.scss */
nav.topbarNav {
  display: none;
  font-size: 0;
  float: right;
  height: 49px;
  line-height: 49px;
}
/* line 165, ../sass/layout.scss */
nav.topbarNav.is-active {
  display: block;
}
/* line 170, ../sass/layout.scss */
nav.topbarNav a {
  vertical-align: top;
  box-sizing: border-box;
  height: 49px;
  line-height: 49px;
  border: 0px solid lime;
}

/* line 179, ../sass/layout.scss */
.icon-cog {
  float: right;
}

/*
  -- Artists navigation -------------------------------------------------------
*/
/* line 187, ../sass/layout.scss */
.artists-navigation {
  float: left;
  width: 100%;
  height: calc(100% - (49px + 1px));
  overflow-y: scroll;
}
/* line 196, ../sass/layout.scss */
.artists-navigation a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  height: 48px;
  line-height: 48px;
}

/* line 210, ../sass/layout.scss */
.filter {
  height: 40px;
  line-height: 40px;
  border: 0px solid red;
}
/* line 215, ../sass/layout.scss */
.filter label {
  display: inline-block;
  box-sizing: border-box;
  width: calc(30%);
  border: 0px solid cyan;
}
/* line 222, ../sass/layout.scss */
.filter input {
  position: relative;
  top: 3px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(70%);
  height: 34px;
  line-height: 34px;
  border: 0px solid lime;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
/* line 239, ../sass/layout.scss */
.songs, .playlist {
  display: none;
  overflow-y: scroll;
}
/* line 243, ../sass/layout.scss */
.songs table, .playlist table {
  width: 100%;
}

/* line 259, ../sass/layout.scss */
.playlist thead tr {
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}

/* line 267, ../sass/layout.scss */
thead {
  display: none;
}

/* line 273, ../sass/layout.scss */
tbody tr td {
  height: 48px;
}
/* line 277, ../sass/layout.scss */
tbody tr td:nth-child(1) {
  width: 48px;
  text-align: center;
}
/* line 278, ../sass/layout.scss */
tbody tr td:nth-child(2) {
  display: none;
}
/* line 279, ../sass/layout.scss */
tbody tr td:nth-child(3) {
  display: none;
}
/* line 280, ../sass/layout.scss */
tbody tr td:nth-child(5) {
  display: none;
}
/* line 281, ../sass/layout.scss */
tbody tr td:nth-child(6) {
  display: none;
}
/* line 282, ../sass/layout.scss */
tbody tr td:nth-child(7) {
  display: none;
}
/* line 283, ../sass/layout.scss */
tbody tr td:nth-child(8) {
  display: none;
}

/* line 288, ../sass/layout.scss */
.playlist-header {
  height: 22px;
  line-height: 20px;
  padding-left: 10px;
}
/* line 293, ../sass/layout.scss */
.playlist-header .icon-trash {
  float: right;
  cursor: pointer;
}

/* line 301, ../sass/layout.scss */
.list thead tr {
  height: 22px;
  line-height: 22px;
}

/*
  -- Small screen buttons -----------------------------------------------------
*/
/* line 311, ../sass/layout.scss */
.mobileButton {
  border: 1px solid grey;
  height: 48px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  top: calc(100% - 48px);
  text-align: center;
  cursor: pointer;
  background-color: #333;
}
/* line 321, ../sass/layout.scss */
.mobileButton:hover {
  background-color: #111;
}

/* line 327, ../sass/layout.scss */
.mobileForwardButton {
  right: 0;
}

/* line 331, ../sass/layout.scss */
.mobileBackButton {
  left: 0;
}

/* line 335, ../sass/layout.scss */
.mobileSongsToArtistsButton, .mobileSongsToPlaylistButton, .mobilePlaylistToSongsButton {
  display: none;
}

/* line 339, ../sass/layout.scss */
button:active, button:focus {
  border: none !important;
}

/*
  -- Radios -------------------------------------------------------------------
*/
/* line 347, ../sass/layout.scss */
.radios {
  font-size: 0;
  height: calc(100% - (49px + 1px));
  overflow-y: scroll;
}

/* line 353, ../sass/layout.scss */
.radio {
  font-size: 16px;
  box-sizing: border-box;
  border: 0px solid red;
}
/* line 358, ../sass/layout.scss */
.radio .radioName, .radio .radioUrl {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  width: calc(100% - 150px);
  box-sizing: border-box;
}
/* line 367, ../sass/layout.scss */
.radio .radioName {
  height: 100px;
  padding-left: 30px;
  line-height: 100px;
  border: 0px solid lime;
}
/* line 374, ../sass/layout.scss */
.radio .radioUrl {
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 20px;
  border: 0px solid cyan;
}
/* line 381, ../sass/layout.scss */
.radio .buttonWrapper {
  float: left;
  height: 150px;
  line-height: 150px;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  border: 0px solid yellow;
}

/* line 393, ../sass/layout.scss */
label[for=appbundle_radio_enabled], #appbundle_radio_enabled,
label[for=appbundle_radio_changed], #appbundle_radio_changed {
  display: none !important;
}

/*
  -- Settings -----------------------------------------------------------------
*/
/* line 402, ../sass/layout.scss */
.settings {
  border: 0px solid red;
}
/* line 407, ../sass/layout.scss */
.settings table tr td {
  padding: 15px 50px;
  text-align: right;
  border: 0px solid lime;
}
/* line 412, ../sass/layout.scss */
.settings table tr td:nth-child(1) {
  padding: 0;
  padding-left: 30px;
  text-align: right !important;
}

/* line 423, ../sass/layout.scss */
.info {
  border: 0px solid red;
}

/* line 427, ../sass/layout.scss */
.libraryInfo {
  margin-top: 20px;
}

/*
  -- Forms ---------------------------------------------------------------
*/
/* neede for reset button */
/* line 435, ../sass/layout.scss */
form {
  position: relative;
}

/* line 439, ../sass/layout.scss */
.input-reset {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  border: 0;
}

/* line 450, ../sass/layout.scss */
.input-reset:after {
  content: "\e805";
  transform: rotate(45deg);
  font-family: fontello;
  display: block !important;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

/* line 471, ../sass/layout.scss */
.filterInput:not(:valid) ~ .input-reset {
  display: none;
}

/* line 476, ../sass/layout.scss */
.filterForm .input-reset {
  top: 5px;
  right: 5px;
}

/* line 483, ../sass/layout.scss */
#searchForm .input-reset {
  top: 10px;
  right: 125px;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
/* line 493, ../sass/layout.scss */
.buttonWrapper {
  padding: 20px 0;
  text-align: center;
  border: 0px solid red;
}

/* line 499, ../sass/layout.scss */
.button {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  border: 0;
}

/*
  -- Context menus ------------------------------------------------------------
*/
/* line 512, ../sass/layout.scss */
.songsContextMenu, .playlistContextMenu {
  position: absolute;
  display: none;
}

/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1023px) {
  /* -- Topbar -- */
  /* line 524, ../sass/layout.scss */
  .songInfo {
    display: block;
    width: 250px;
  }

  /* line 529, ../sass/layout.scss */
  nav.topbarNav {
    display: initial;
  }

  /* line 533, ../sass/layout.scss */
  #form_keyword {
    width: 100px;
  }

  /* line 537, ../sass/layout.scss */
  .hamburger {
    display: none;
  }

  /* -- Artists navigation -- */
  /* line 545, ../sass/layout.scss */
  .artists-navigation {
    height: calc(100% - (49px + 1px));
    width: 240px;
    overflow-y: scroll;
  }
  /* line 550, ../sass/layout.scss */
  .artists-navigation a {
    height: auto;
    line-height: 1.3em;
    border: 0px solid white;
  }
  /* line 555, ../sass/layout.scss */
  .artists-navigation a.song {
    line-height: 1.4em;
  }
  /* line 560, ../sass/layout.scss */
  .artists-navigation > ul {
    margin-top: 5px;
  }

  /* -- Songs and playlist panels -- */
  /* line 567, ../sass/layout.scss */
  .songs, .playlist {
    display: block;
    height: calc((100% - (49px + 1px)) / 2);
  }

  /* line 574, ../sass/layout.scss */
  thead tr th {
    border: 0px solid red;
  }
  /* line 575, ../sass/layout.scss */
  thead tr th:nth-child(1) {
    width: 15px;
  }
  /* line 576, ../sass/layout.scss */
  thead tr th:nth-child(2) {
    width: 25px;
  }
  /* line 577, ../sass/layout.scss */
  thead tr th:nth-child(3) {
    width: 20%;
  }
  /* line 578, ../sass/layout.scss */
  thead tr th:nth-child(4) {
    width: 35%;
  }
  /* line 579, ../sass/layout.scss */
  thead tr th:nth-child(5) {
    width: 20%;
  }
  /* line 580, ../sass/layout.scss */
  thead tr th:nth-child(6) {
    width: 60px;
  }
  /* line 581, ../sass/layout.scss */
  thead tr th:nth-child(7) {
    width: 60px;
    display: none;
  }
  /* line 582, ../sass/layout.scss */
  thead tr th:nth-child(8) {
    width: 60px;
    display: none;
  }

  /* line 588, ../sass/layout.scss */
  tbody tr td {
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0px solid red;
  }
  /* line 596, ../sass/layout.scss */
  tbody tr td:nth-child(1) {
    text-align: center;
    padding-left: 2px;
  }
  /* line 597, ../sass/layout.scss */
  tbody tr td:nth-child(6) {
    text-align: center;
  }
  /* line 598, ../sass/layout.scss */
  tbody tr td:nth-child(7) {
    text-align: center;
    display: none;
  }
  /* line 599, ../sass/layout.scss */
  tbody tr td:nth-child(8) {
    display: none;
  }

  /* -- Small screen buttons -- */
  /* line 604, ../sass/layout.scss */
  .mobileButton {
    display: none;
  }

  /* -- Radios -- */
  /* line 609, ../sass/layout.scss */
  .radio {
    font-size: 16px !important;
    display: inline-block;
    width: 50%;
  }
}
/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {
  /* -- Topbar -- */
  /* line 624, ../sass/layout.scss */
  .songInfo {
    width: 400px;
  }

  /* -- Artists navigation -- */
  /* line 632, ../sass/layout.scss */
  .artists-navigation {
    width: 360px;
  }

  /* -- Songs and playlist panels -- */
  /* line 640, ../sass/layout.scss */
  thead tr th:nth-child(7) {
    display: table-cell;
  }
  /* line 644, ../sass/layout.scss */
  thead tr th:nth-child(8) {
    display: table-cell;
  }

  /* line 652, ../sass/layout.scss */
  tbody tr td:nth-child(7) {
    display: table-cell;
  }
  /* line 656, ../sass/layout.scss */
  tbody tr td:nth-child(8) {
    display: table-cell;
  }
}
/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {
  /* -- Topbar -- */
  /* line 670, ../sass/layout.scss */
  .songInfo {
    width: 600px;
  }

  /* line 675, ../sass/layout.scss */
  #searchForm input[type="text"] {
    width: 200px;
  }
}
