/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 9, ../sass/_hamburger.scss */
.hamburger {
  padding: 10px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  right: 0;
}

/* line 27, ../sass/_hamburger.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 31, ../sass/_hamburger.scss */
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 38, ../sass/_hamburger.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px;
}

/* line 44, ../sass/_hamburger.scss */
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: white !important;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

/* line 58, ../sass/_hamburger.scss */
.hamburger-inner::after,
.hamburger-inner::before {
  color: white !important;
  content: "";
  display: block;
}

/* line 65, ../sass/_hamburger.scss */
.hamburger-inner::before {
  top: -10px;
}

/* line 69, ../sass/_hamburger.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/* line 75, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 81, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

/* line 86, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 91, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

/* line 96, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

/* line 101, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
  -- Default layout -----------------------------------------------------------
*/
/*
  -- Global -------------------------------------------------------------------
*/
/* line 14, ../sass/layout.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/layout.scss */
table {
  table-layout: fixed;
}

/* line 22, ../sass/layout.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 28, ../sass/layout.scss */
.noPadding {
  padding: 0 !important;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
/* line 38, ../sass/layout.scss */
.topbar {
  height: 49px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* -- Artists navigation -- */
}
/* line 46, ../sass/layout.scss */
.topbar > div {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  line-height: 49px;
  border: 0px solid red;
}
/* line 55, ../sass/layout.scss */
.topbar .logo {
  padding: 0 20px;
  border: 0px solid red;
}
/* line 61, ../sass/layout.scss */
.topbar [class^="icon-"] {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
  font-size: 120%;
  cursor: pointer;
  border: 0px solid red;
}
/* line 72, ../sass/layout.scss */
.topbar .icon-play, .topbar .icon-pause {
  font-size: 150%;
}
/* line 76, ../sass/layout.scss */
.topbar .icon-to-end {
  margin-left: -2px;
}
/* line 80, ../sass/layout.scss */
.topbar .icon-cog {
  height: 100%;
  font-size: 26px;
  text-align: center;
}
/* line 86, ../sass/layout.scss */
.topbar .songInfo {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 95, ../sass/layout.scss */
#searchForm {
  display: inline-block;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
}
/* line 101, ../sass/layout.scss */
#searchForm input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 130px;
  height: 39px;
  border: 0;
  padding: 0 10px;
  border: 0px solid lime;
}
/* line 112, ../sass/layout.scss */
#searchForm input[type="submit"] {
  display: inline-block;
  border: 0;
  height: 49px;
  line-height: 49px;
  vertical-align: top;
  border: 0px solid lime;
}
/* line 121, ../sass/layout.scss */
#searchForm .formElementContainer {
  display: inline-block;
  position: relative;
}

/* line 127, ../sass/layout.scss */
nav.topbarNav {
  display: none;
  font-size: 0;
  float: right;
  height: 49px;
  line-height: 49px;
}
/* line 137, ../sass/layout.scss */
nav.topbarNav.is-active {
  display: block;
}
/* line 142, ../sass/layout.scss */
nav.topbarNav a {
  vertical-align: top;
  box-sizing: border-box;
  height: 49px;
  line-height: 49px;
  border: 0px solid lime;
}

/* line 151, ../sass/layout.scss */
.icon-cog {
  float: right;
}

/*
  -- Artists navigation -------------------------------------------------------
*/
/* line 159, ../sass/layout.scss */
.artists-navigation {
  float: left;
  width: 100%;
  height: calc(100% - (49px + 1px));
  overflow-y: scroll;
}
/* line 168, ../sass/layout.scss */
.artists-navigation a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  height: 48px;
  line-height: 48px;
}

/* line 182, ../sass/layout.scss */
.filter {
  height: 40px;
  line-height: 40px;
  border: 0px solid red;
}
/* line 187, ../sass/layout.scss */
.filter label {
  display: inline-block;
  box-sizing: border-box;
  width: calc(30%);
  border: 0px solid cyan;
}
/* line 194, ../sass/layout.scss */
.filter input {
  position: relative;
  top: 3px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(70%);
  height: 34px;
  line-height: 34px;
  border: 0px solid lime;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
/* line 211, ../sass/layout.scss */
.songs, .playlist {
  display: none;
  overflow-y: scroll;
}
/* line 215, ../sass/layout.scss */
.songs table, .playlist table {
  width: 100%;
}

/* line 231, ../sass/layout.scss */
.playlist thead tr {
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}

/* line 239, ../sass/layout.scss */
thead {
  display: none;
}

/* line 245, ../sass/layout.scss */
tbody tr td {
  height: 48px;
}
/* line 249, ../sass/layout.scss */
tbody tr td:nth-child(1) {
  width: 48px;
  text-align: center;
}
/* line 250, ../sass/layout.scss */
tbody tr td:nth-child(2) {
  display: none;
}
/* line 251, ../sass/layout.scss */
tbody tr td:nth-child(3) {
  display: none;
}
/* line 252, ../sass/layout.scss */
tbody tr td:nth-child(5) {
  display: none;
}
/* line 253, ../sass/layout.scss */
tbody tr td:nth-child(6) {
  display: none;
}
/* line 254, ../sass/layout.scss */
tbody tr td:nth-child(7) {
  display: none;
}
/* line 255, ../sass/layout.scss */
tbody tr td:nth-child(8) {
  display: none;
}

/* line 260, ../sass/layout.scss */
.playlist-header {
  height: 22px;
  line-height: 20px;
  padding-left: 10px;
}
/* line 265, ../sass/layout.scss */
.playlist-header .icon-trash {
  float: right;
  cursor: pointer;
}

/* line 273, ../sass/layout.scss */
.list thead tr {
  height: 22px;
  line-height: 22px;
}

/*
  -- Small screen buttons -----------------------------------------------------
*/
/* line 283, ../sass/layout.scss */
.mobileButton {
  border: 1px solid grey;
  height: 48px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  top: calc(100% - 48px);
  text-align: center;
  cursor: pointer;
  background-color: #333;
}
/* line 293, ../sass/layout.scss */
.mobileButton:hover {
  background-color: #111;
}

/* line 299, ../sass/layout.scss */
.mobileForwardButton {
  right: 0;
}

/* line 303, ../sass/layout.scss */
.mobileBackButton {
  left: 0;
}

/* line 307, ../sass/layout.scss */
.mobileSongsToArtistsButton, .mobileSongsToPlaylistButton, .mobilePlaylistToSongsButton {
  display: none;
}

/* line 311, ../sass/layout.scss */
button:active, button:focus {
  border: none !important;
}

/*
  -- Radios -------------------------------------------------------------------
*/
/* line 319, ../sass/layout.scss */
.radios {
  font-size: 0;
  height: calc(100% - (49px + 1px));
  overflow-y: scroll;
}

/* line 325, ../sass/layout.scss */
.radio {
  font-size: 16px;
  box-sizing: border-box;
  border: 0px solid red;
}
/* line 330, ../sass/layout.scss */
.radio .radioName, .radio .radioUrl {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  width: calc(100% - 150px);
  box-sizing: border-box;
}
/* line 339, ../sass/layout.scss */
.radio .radioName {
  height: 100px;
  padding-left: 30px;
  line-height: 100px;
  border: 0px solid lime;
}
/* line 346, ../sass/layout.scss */
.radio .radioUrl {
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 20px;
  border: 0px solid cyan;
}
/* line 353, ../sass/layout.scss */
.radio .buttonWrapper {
  float: left;
  height: 150px;
  line-height: 150px;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  border: 0px solid yellow;
}

/* line 365, ../sass/layout.scss */
label[for=appbundle_radio_enabled], #appbundle_radio_enabled,
label[for=appbundle_radio_changed], #appbundle_radio_changed {
  display: none !important;
}

/*
  -- Mobile menu --------------------------------------------------------------
*/
/* line 374, ../sass/layout.scss */
ul.topNav {
  position: relative;
  width: 100% !important;
  background-color: #555;
}
/* line 380, ../sass/layout.scss */
ul.topNav.is-active {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 10;
}
/* line 387, ../sass/layout.scss */
ul.topNav.is-active li {
  text-align: center;
  float: none;
}
/* line 391, ../sass/layout.scss */
ul.topNav.is-active li a {
  width: 100%;
  text-align: center;
}
/* line 395, ../sass/layout.scss */
ul.topNav.is-active li a .icon-cog {
  float: none;
}
/* line 400, ../sass/layout.scss */
ul.topNav.is-active form {
  width: 100%;
}
/* line 402, ../sass/layout.scss */
ul.topNav.is-active form input[type='text'] {
  width: 90% !important;
}
/* line 405, ../sass/layout.scss */
ul.topNav.is-active form input[type='submit'] {
  float: right;
}
/* line 411, ../sass/layout.scss */
ul.topNav li {
  float: left;
}

/*
  -- Settings -----------------------------------------------------------------
*/
/* line 421, ../sass/layout.scss */
.settings {
  border: 0px solid red;
}
/* line 426, ../sass/layout.scss */
.settings table tr td {
  padding: 15px 50px;
  text-align: right;
  border: 0px solid lime;
}
/* line 431, ../sass/layout.scss */
.settings table tr td:nth-child(1) {
  padding: 0;
  padding-left: 30px;
  text-align: right !important;
}

/* line 442, ../sass/layout.scss */
.info {
  border: 0px solid red;
}

/* line 446, ../sass/layout.scss */
.libraryInfo {
  margin-top: 20px;
}

/*
  -- Forms ---------------------------------------------------------------
*/
/* neede for reset button */
/* line 454, ../sass/layout.scss */
form {
  position: relative;
}

/* line 458, ../sass/layout.scss */
.input-reset {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  border: 0;
}

/* line 469, ../sass/layout.scss */
.input-reset:after {
  content: "\e805";
  transform: rotate(45deg);
  font-family: fontello;
  display: block !important;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

/* line 490, ../sass/layout.scss */
.filterInput:not(:valid) ~ .input-reset {
  display: none;
}

/* line 495, ../sass/layout.scss */
.filterForm .input-reset {
  top: 5px;
  right: 5px;
}

/* line 502, ../sass/layout.scss */
#searchForm .input-reset {
  top: 10px;
  right: 5px;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
/* line 512, ../sass/layout.scss */
.buttonWrapper {
  padding: 20px 0;
  text-align: center;
  border: 0px solid red;
}

/* line 518, ../sass/layout.scss */
.button {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  border: 0;
}

/*
  -- Context menus ------------------------------------------------------------
*/
/* line 531, ../sass/layout.scss */
.songsContextMenu, .playlistContextMenu {
  position: absolute;
  display: none;
}

/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1023px) {
  /* -- Topbar -- */
  /* line 543, ../sass/layout.scss */
  .songInfo {
    display: block;
    width: 210px;
  }

  /* line 548, ../sass/layout.scss */
  nav.topbarNav {
    display: initial;
  }

  /* line 552, ../sass/layout.scss */
  #form_keyword {
    width: 100px;
  }

  /* line 556, ../sass/layout.scss */
  .hamburger {
    display: none;
  }

  /* -- Artists navigation -- */
  /* line 564, ../sass/layout.scss */
  .artists-navigation {
    height: calc(100% - (49px + 1px));
    width: 240px;
    overflow-y: scroll;
  }
  /* line 569, ../sass/layout.scss */
  .artists-navigation a {
    height: auto;
    line-height: 1.3em;
    border: 0px solid white;
  }
  /* line 574, ../sass/layout.scss */
  .artists-navigation a.song {
    line-height: 1.4em;
  }
  /* line 579, ../sass/layout.scss */
  .artists-navigation > ul {
    margin-top: 5px;
  }

  /* -- Songs and playlist panels -- */
  /* line 586, ../sass/layout.scss */
  .songs, .playlist {
    display: block;
    height: calc((100% - (49px + 1px)) / 2);
  }

  /* line 593, ../sass/layout.scss */
  thead {
    width: 100%;
    display: table-header-group;
  }
  /* line 597, ../sass/layout.scss */
  thead tr th {
    border: 0px solid red;
  }
  /* line 598, ../sass/layout.scss */
  thead tr th:nth-child(1) {
    width: 15px;
  }
  /* line 599, ../sass/layout.scss */
  thead tr th:nth-child(2) {
    width: 25px;
  }
  /* line 600, ../sass/layout.scss */
  thead tr th:nth-child(3) {
    width: 20%;
  }
  /* line 601, ../sass/layout.scss */
  thead tr th:nth-child(4) {
    width: 35%;
  }
  /* line 602, ../sass/layout.scss */
  thead tr th:nth-child(5) {
    width: 20%;
  }
  /* line 603, ../sass/layout.scss */
  thead tr th:nth-child(6) {
    width: 60px;
  }
  /* line 604, ../sass/layout.scss */
  thead tr th:nth-child(7) {
    width: 60px;
    display: none;
  }
  /* line 605, ../sass/layout.scss */
  thead tr th:nth-child(8) {
    width: 60px;
    display: none;
  }

  /* line 611, ../sass/layout.scss */
  tbody tr td {
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0px solid red;
  }
  /* line 619, ../sass/layout.scss */
  tbody tr td:nth-child(1) {
    text-align: center;
    padding-left: 2px;
  }
  /* line 620, ../sass/layout.scss */
  tbody tr td:nth-child(2) {
    display: table-cell;
  }
  /* line 621, ../sass/layout.scss */
  tbody tr td:nth-child(3) {
    display: table-cell;
  }
  /* line 622, ../sass/layout.scss */
  tbody tr td:nth-child(5) {
    display: table-cell;
  }
  /* line 623, ../sass/layout.scss */
  tbody tr td:nth-child(6) {
    display: table-cell;
    text-align: center;
  }
  /* line 624, ../sass/layout.scss */
  tbody tr td:nth-child(7) {
    text-align: center;
    display: none;
  }
  /* line 625, ../sass/layout.scss */
  tbody tr td:nth-child(8) {
    display: none;
  }

  /* -- Small screen buttons -- */
  /* line 630, ../sass/layout.scss */
  .mobileButton {
    display: none;
  }

  /* -- Radios -- */
  /* line 635, ../sass/layout.scss */
  .radio {
    font-size: 16px !important;
    display: inline-block;
    width: 50%;
  }
}
/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {
  /* -- Topbar -- */
  /* line 650, ../sass/layout.scss */
  .songInfo {
    width: 400px;
  }

  /* -- Artists navigation -- */
  /* line 658, ../sass/layout.scss */
  .artists-navigation {
    width: 360px;
  }

  /* -- Songs and playlist panels -- */
  /* line 666, ../sass/layout.scss */
  thead tr th:nth-child(7) {
    display: table-cell;
  }
  /* line 670, ../sass/layout.scss */
  thead tr th:nth-child(8) {
    display: table-cell;
  }

  /* line 678, ../sass/layout.scss */
  tbody tr td:nth-child(7) {
    display: table-cell;
  }
  /* line 682, ../sass/layout.scss */
  tbody tr td:nth-child(8) {
    display: table-cell;
  }
}
/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {
  /* -- Topbar -- */
  /* line 696, ../sass/layout.scss */
  .songInfo {
    width: 600px;
  }

  /* line 701, ../sass/layout.scss */
  #searchForm input[type="text"] {
    width: 200px;
  }
}
