/*
-- Default layout -----------------------------------------------------------
*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  right: 0;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #111 !important;
  width: 30px;
  height: 3px;
  background-color: #eee;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::after,
.hamburger-inner::before {
  color: #111 !important;
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
  --  1. Global ---------------------------------------------------------------
*/
html, body {
  height: 100%;
}

table {
  table-layout: fixed;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.noPadding {
  padding: 0 !important;
}

/*
  --  2. Topbar ---------------------------------------------------------------
*/
.topbar {
  height: 49px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.topbar div {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 100%;
  line-height: 49px;
  border: 0px solid red;
}
.topbar .logo {
  padding: 0 10px;
  margin-top: -4px;
  border: 0px solid red;
}
.topbar .logo > img {
  vertical-align: middle;
  width: 31px;
}
.topbar [class^=icon-] {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
  font-size: 120%;
  cursor: pointer;
  border: 0px solid red;
}
.topbar .icon-play, .topbar .icon-pause {
  font-size: 150%;
}
.topbar .icon-to-end {
  margin-left: -2px;
}
.topbar .icon-cog {
  height: 100%;
  font-size: 26px;
  text-align: center;
}
.topbar .timeInfo {
  display: block;
  height: 30px;
  line-height: 30px;
}
.topbar .ProgressBarContainer {
  width: 100%;
  height: 19px;
  line-height: 19px;
}
.topbar .progressbar {
  position: relative;
  height: 10px;
  width: calc(100% - 10px);
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}
.topbar .songInfo {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topbar .material-icons {
  line-height: 49px;
}
.topbar #radioNewButton {
  padding-right: 10px;
}
.topbar .radio-add {
  position: relative;
  vertical-align: top;
  line-height: 30px;
}

#searchForm {
  display: inline-block;
  vertical-align: top;
  height: 49px;
  line-height: 49px;
}
#searchForm input[type=text] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 130px;
  height: 39px;
  border: 0;
  padding: 0 10px;
  border: 0px solid lime;
}
#searchForm input[type=submit] {
  display: inline-block;
  border: 0;
  height: 49px;
  line-height: 49px;
  vertical-align: top;
  border: 0px solid lime;
}
#searchForm .formElementContainer {
  display: inline-block;
  position: relative;
}

nav.topbarNav {
  display: none;
  font-size: 0;
  float: right;
  height: 49px;
  line-height: 49px;
}
nav.topbarNav.is-active {
  display: block;
}
nav.topbarNav a {
  vertical-align: top;
  box-sizing: border-box;
  height: 49px;
  line-height: 49px;
  border: 0px solid lime;
}

.icon-cog {
  float: right;
  padding: 0 10px;
}

#navigationLibrary, #navigationRadioNew, #navigationBackToRadioIndex {
  display: none;
}

/*
  --  3. Artists navigation ---------------------------------------------------
*/
.artists-navigation {
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.artists-navigation a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
  height: 48px;
  line-height: 48px;
}

#artists-nav {
  height: calc(100% - 45px);
  overflow-y: auto;
}

.filter {
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0px solid red;
}
.filter label {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  border: 0px solid cyan;
}
.filter input {
  position: relative;
  top: 3px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 70%;
  height: 34px;
  line-height: 34px;
  border: 0px solid lime;
}

/*
  --  4. Views ----------------------------------------------------------------
*/
.view {
  position: absolute;
  top: 50px;
  height: calc(100% - (49px + 1px));
  width: 100%;
  border: 0px solid red;
}

.library-view {
  overflow-x: hidden;
}

.albums-view {
  overflow-y: scroll;
}

.radios-view {
  font-size: 0;
  overflow-y: scroll;
}

/*
  --  5 .Songs and playlist panels --------------------------------------------
*/
.songs-header {
  display: none;
  position: relative;
  width: calc(100% - 10px) !important;
  height: 22px;
  z-index: 40;
  box-sizing: border-box;
}

.songs, .playlist {
  display: none;
  overflow: hidden;
}
.songs table, .playlist table {
  width: 100%;
}

#playlist thead tr, #songs thead tr {
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}

thead {
  display: none;
}

.songs tbody tr td, .playlist tbody tr td {
  height: 48px;
}
.songs tbody tr td:nth-child(1), .playlist tbody tr td:nth-child(1) {
  width: 48px;
  text-align: center;
}
.songs tbody tr td:nth-child(2), .playlist tbody tr td:nth-child(2) {
  display: none;
}
.songs tbody tr td:nth-child(3), .playlist tbody tr td:nth-child(3) {
  display: none;
}
.songs tbody tr td:nth-child(5), .playlist tbody tr td:nth-child(5) {
  display: none;
}
.songs tbody tr td:nth-child(6), .playlist tbody tr td:nth-child(6) {
  display: none;
}
.songs tbody tr td:nth-child(7), .playlist tbody tr td:nth-child(7) {
  display: none;
}
.songs tbody tr td:nth-child(8), .playlist tbody tr td:nth-child(8) {
  display: none;
}

.playlist-header {
  height: 22px;
  line-height: 20px;
  padding-left: 10px;
  top: 0;
}
.playlist-header .icon-trash {
  float: right;
  cursor: pointer;
}

.list {
  box-sizing: content-box;
}
.list thead tr {
  height: 22px;
  line-height: 22px;
}

/*
  --  6. Albums view ----------------------------------------------------------
*/
.album-container {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
}
.album-container .img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  cursor: pointer;
}
.album-container .album-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.album-container .album-controls .material-icons {
  font-size: 36px;
  padding-left: 10px;
  vertical-align: middle;
}
.album-container .album-controls .material-icons-big {
  font-size: 50px;
  padding-left: 0px;
}

img.lozad {
  position: absolute;
  top: 0;
  width: 100%;
}

.album-infos {
  font-size: 0.8em;
}
.album-infos > div {
  text-align: center;
}
.album-infos .album-info-album {
  letter-spacing: 0.4px;
  font-size: 1.1em;
  padding: 10px 10px 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.album-infos .album-info-artist {
  font-size: 0.9em;
  padding: 0px 5px 5px 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
  --  7. Radios ---------------------------------------------------------------
*/
.radio {
  font-size: 16px;
  box-sizing: border-box;
  border: 0px solid red;
}
.radio .radioName, .radio .radioUrl {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  width: calc(100% - 150px);
  box-sizing: border-box;
}
.radio .radioName {
  height: 100px;
  padding-left: 30px;
  line-height: 100px;
  border: 0px solid lime;
}
.radio .radioUrl {
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 20px;
  border: 0px solid cyan;
}
.radio .buttonWrapper {
  float: left;
  height: 150px;
  line-height: 150px;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  border: 0px solid yellow;
}

label[for=appbundle_radio_enabled], #appbundle_radio_enabled,
label[for=appbundle_radio_changed], #appbundle_radio_changed {
  display: none !important;
}

/*
  --  8. Settings-view --------------------------------------------------------
*/
.settings-view {
  border: 0px solid red;
}
.settings-view .libraryInfo {
  margin-top: 20px;
  width: 90%;
}
.settings-view table tr td {
  padding: 15px 50px;
  text-align: right;
  border: 0px solid lime;
}
.settings-view table tr td:nth-child(1) {
  padding: 0;
  width: 40%;
  text-align: right !important;
}

.info {
  border: 0px solid red;
}

/*
  --  9. Mobile menu ----------------------------------------------------------
*/
ul.topNav {
  position: relative;
  width: 100% !important;
}
ul.topNav.is-active {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 20;
}
ul.topNav.is-active li {
  text-align: center;
  float: none;
}
ul.topNav.is-active li a {
  width: 100%;
  text-align: center;
}
ul.topNav.is-active li a .icon-cog {
  float: none;
}
ul.topNav.is-active form {
  width: 100%;
}
ul.topNav.is-active form input[type=text] {
  width: 90% !important;
}
ul.topNav.is-active form input[type=submit] {
  float: right;
}
ul.topNav li {
  float: left;
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/
.mobileButton {
  height: 48px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  top: calc(100% - 48px);
  text-align: center;
  cursor: pointer;
}

.mobileForwardButton {
  right: 0;
}

.mobileBackButton {
  left: 0;
}

.mobileSongsToArtistsButton, .mobileSongsToPlaylistButton, .mobilePlaylistToSongsButton {
  display: none;
}

button:active, button:focus {
  border: none !important;
}

/*
  -- 11. Forms ----------------------------------------------------------------
*/
/* neede for reset button */
form {
  position: relative;
}

.input-reset {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  border: 0;
}

.input-reset:after {
  content: "\e805";
  transform: rotate(45deg);
  font-family: fontello;
  display: block !important;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.filterInput:not(:valid) ~ .input-reset {
  display: none;
}

.filterForm .input-reset {
  top: 5px;
  right: 5px;
}

#searchForm .input-reset {
  top: 10px;
  right: 5px;
}

table.form {
  width: 90%;
  margin-top: 20px;
}
table.form tr td {
  padding: 5px;
}
table.form tr td:nth-child(1) {
  text-align: right;
  width: 40%;
}
table.form tr td input[type=text] {
  width: 80%;
}
table.form tr td.buttonRow {
  text-align: center;
  padding-top: 20px;
}

/*
  -- 12. Crud forms -----------------------------------------------------------
*/
.buttonWrapper {
  padding: 20px 0;
  text-align: center;
  border: 0px solid red;
}

.button {
  box-sizing: border-box;
  height: 49px;
  line-height: 49px;
  display: inline-block;
  padding: 0 20px;
  border: 0;
}

/*
  -- 13. Context menus --------------------------------------------------------
*/
.songsContextMenu, .playlistContextMenu {
  position: absolute;
  display: none;
}

/*
  -- Media query 500px --------------------------------------------------------
*/
@media all and (min-width: 500px) {
  /* --  4. Views -- */
  .album-container {
    width: 33.33%;
  }
}
/*
  -- Media query 700px --------------------------------------------------------
*/
@media all and (min-width: 700px) {
  /* --  4. Views -- */
  .album-container {
    width: 25%;
  }
}
/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1023px) {
  /* --  2. Topbar -- */
  .topbar .logo > span {
    display: inline-block;
  }

  .songInfo {
    display: block;
  }

  nav.topbarNav {
    display: initial;
  }

  #form_keyword {
    width: 100px;
  }

  .hamburger {
    display: none;
  }

  /* --  3. Artists navigation -- */
  .artists-navigation {
    width: 240px;
  }
  .artists-navigation a {
    height: auto;
    line-height: 1.3em;
    border: 0px solid white;
  }
  .artists-navigation a.song {
    line-height: 1.4em;
  }
  .artists-navigation > ul {
    margin-top: 5px;
  }

  /* --  5. Songs and playlist panels -- */
  .songs, .playlist {
    display: block;
    height: 50%;
  }

  .songs-container, .playlist-container {
    height: calc(100% - 22px);
    overflow-y: scroll;
  }

  thead {
    width: 100%;
    display: table-header-group;
  }
  thead tr th {
    border: 0px solid red;
    position: sticky;
    top: 0;
  }
  thead tr th:nth-child(1) {
    width: 15px;
  }
  thead tr th:nth-child(2) {
    width: 25px;
  }
  thead tr th:nth-child(3) {
    width: 20%;
  }
  thead tr th:nth-child(4) {
    width: 35%;
  }
  thead tr th:nth-child(5) {
    width: 20%;
  }
  thead tr th:nth-child(6) {
    width: 60px;
  }
  thead tr th:nth-child(7) {
    width: 60px;
    display: none;
  }
  thead tr th:nth-child(8) {
    width: 80px;
    display: none;
  }

  .songs tbody tr td, .playlist tbody tr td {
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0px solid red;
  }
  .songs tbody tr td:nth-child(1), .playlist tbody tr td:nth-child(1) {
    text-align: center;
    padding-left: 2px;
  }
  .songs tbody tr td:nth-child(2), .playlist tbody tr td:nth-child(2) {
    display: table-cell;
  }
  .songs tbody tr td:nth-child(3), .playlist tbody tr td:nth-child(3) {
    display: table-cell;
  }
  .songs tbody tr td:nth-child(5), .playlist tbody tr td:nth-child(5) {
    display: table-cell;
  }
  .songs tbody tr td:nth-child(6), .playlist tbody tr td:nth-child(6) {
    display: table-cell;
    text-align: center;
  }
  .songs tbody tr td:nth-child(7), .playlist tbody tr td:nth-child(7) {
    text-align: center;
    display: none;
  }
  .songs tbody tr td:nth-child(8), .playlist tbody tr td:nth-child(8) {
    display: none;
  }

  /* --  4. Views -- */
  .album-container {
    width: 20%;
  }

  .album-infos {
    font-size: 1em;
  }
  .album-infos > div {
    padding: 0 10px;
    text-align: center;
  }
  .album-infos .album-info-artist {
    line-height: 1.3em;
  }

  /* --  7. Radios -- */
  .radio {
    font-size: 16px !important;
    display: inline-block;
    width: 50%;
  }

  /* --  8. Settings-view -- */
  .settings-view .libraryInfo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  /* -- 10. Small screen buttons -- */
  .mobileButton {
    display: none;
  }

  /* -- 11. Forms -- */
  table.form {
    margin: auto;
    width: 40%;
  }
  table.form tr td {
    padding: 10px;
  }
  table.form tr td:nth-child(1) {
    text-align: right;
    width: 40%;
  }
  table.form tr td input[type=text] {
    width: 80%;
  }
  table.form tr td.buttonRow {
    text-align: center;
    padding-top: 20px;
  }
}
/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {
  /* --  2. Topbar -- */
  /* --  3. Artists navigation -- */
  .artists-navigation {
    width: 360px;
  }

  /* --  5. Songs and playlist panels -- */
  thead tr th:nth-child(7) {
    display: table-cell;
  }
  thead tr th:nth-child(8) {
    display: table-cell;
  }

  .songs tbody tr td:nth-child(7), .playlist tbody tr td:nth-child(7) {
    display: table-cell;
  }
  .songs tbody tr td:nth-child(8), .playlist tbody tr td:nth-child(8) {
    display: table-cell;
  }

  /* --  4. Views -- */
  .album-container {
    width: 16.66%;
  }

  /* --  6. Album voew -- */
  .album-infos {
    font-size: 1.1em;
  }
  .album-infos > div {
    padding: 0 10px;
    text-align: center;
  }
  .album-infos .album-info-artist {
    line-height: 1.5em;
  }

  /* -- 11. Forms -- */
  table.form tr td input[type=text] {
    width: 60%;
  }
}
/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {
  /* --  2. Topbar -- */
  #searchForm input[type=text] {
    width: 200px;
  }

  /* --  4. Views -- */
  .album-container {
    width: 12.5%;
  }
}

/*# sourceMappingURL=layout.css.map */
