/*
  -- Default styling ----------------------------------------------------------
*/
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
  -- Global -------------------------------------------------------------------
*/
html, body {
  font-family: "Lato", sans-serif;
}

body {
  color: #111;
  background-color: #eee;
}

a {
  color: #111;
  text-decoration: none;
  line-height: 1.2em;
  font-weight: 700;
}

h1 {
  border-bottom: 1px solid;
  text-align: center;
  padding: 30px 0;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
}

h2 {
  padding: 10px 20px;
  font-family: "Muli", sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
  border-bottom: 1px solid #666;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
.topbar {
  border-bottom-color: #666;
}
.topbar .logo {
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-weight: 700;
}
.topbar .songInfo {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.topbar .songTitle {
  font-weight: 900;
  font-size: 120%;
}
.topbar .songArtist {
  color: #333;
}
.topbar .timeInfo {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 1px;
}

#searchForm input[type=submit] {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

nav.topbarNav a {
  font-size: 18px;
  display: inline-block;
  padding: 0 20px;
  letter-spacing: 1px;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}
nav.topbarNav a:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}

/*
  -- Artists navigation -------------------------------------------------------
*/
.artists-navigation .song {
  background-color: #fff;
}

.filter {
  background-color: #ddd;
}
.filter label {
  font-size: 110%;
  padding: 0 0 0 10px;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.6px;
  font-size: 1.1em;
  font-weight: 600;
}
.filter input {
  background-color: black;
  padding: 0 0 0 10px;
}

a.active {
  background-color: #ddd !important;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
.playlist-header {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
  background-color: #ddd;
}

.list thead {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  background-color: #ddd;
}
.list thead tr th {
  padding: 0 10px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
}
.list tbody {
  font-family: "Lato", sans-serif;
}
.list tbody tr {
  cursor: pointer;
}
.list tbody tr td {
  padding: 5px;
}
.list tbody tr:nth-child(even) {
  background-color: #ddd;
}
.list tr.playing {
  background-color: #ddd !important;
}
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  -- Radios -------------------------------------------------------------------
*/
.radio .radioName {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border: 0px solid red;
}
.radio .radioUrl {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.radio .icon-play, .radio .icon-pause {
  cursor: pointer;
  font-size: 4em;
}
.radio.activeRadio {
  background-color: #ddd !important;
}

.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #ddd;
}

/*
  -- Context menus ------------------------------------------------------------
*/
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  list-style: none;
  padding: 10px 0;
  background-color: #eee;
}
.songsContextMenu .menu-options .menu-option, .playlistContextMenu .menu-options .menu-option {
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background-color: #ddd;
}

/*
  -- Settings -----------------------------------------------------------------
*/
.settings {
  padding-bottom: 20px;
  border-bottom: 1px solid #666 !important;
}
.settings table {
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
}

.settings a {
  font-size: 18px;
}

/*
  -- Forms ---------------------------------------------------------------
*/
input[type=text] {
  color: #111;
  background-color: #eee;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: 1px solid #555 !important;
}

.input-reset {
  background-color: #ddd;
}

.input-reset:after {
  color: #111;
  background-color: #ddd;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
form div div label {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.6px;
}

form div div input {
  font-size: 1.2em;
  letter-spacing: 0.6px;
  padding: 5px 10px;
  width: 300px;
  border: 1px solid #666;
}

.button {
  color: #111;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}

.button:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}
.button:hover.danger:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5));
}

.running {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5)) !important;
}
.running:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5)) !important;
}

/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1024px) {
  /* -- Radios -- */
  .radio .radioName {
    font-size: 2em;
  }
  .radio .radioUrl {
    font-size: 1.2em;
  }

  /* -- Crud forms -- */
  form div div label {
    text-align: right;
    display: inline-block;
    padding: 20px 50px;
    width: calc(50% - 100px);
  }
}

/*# sourceMappingURL=screen.css.map */
