/*
  -- Default styling ----------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  --  1. Global ---------------------------------------------------------------
*/
html, body {
  font-family: "Lato", sans-serif;
}

body {
  color: #111;
  background-color: #eee;
}

a {
  color: #111;
  text-decoration: none;
  line-height: 1.2em;
  font-weight: 700;
}

h1 {
  border-bottom: 1px solid;
  text-align: center;
  padding: 30px 0;
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
}

h2 {
  padding: 10px 20px;
  font-family: "Muli", sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
  border-bottom: 1px solid #666;
}

/*
  --  2. Topbar ---------------------------------------------------------------
*/
.topbar {
  border-bottom-color: #666;
}
.topbar .logo {
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-weight: 700;
}
.topbar .timeInfo {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 1px;
}
.topbar .progressbar {
  background-color: #ddd;
}
.topbar .progress-indicator {
  background-color: #aaa;
}
.topbar .songInfo {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.topbar .songTitle {
  font-weight: 900;
  font-size: 120%;
}
.topbar .songArtist {
  color: #333;
}

#searchForm input[type=submit] {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

nav.topbarNav a {
  font-size: 18px;
  display: inline-block;
  padding: 0 20px;
  letter-spacing: 1px;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}
nav.topbarNav a:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}

/*
  --  3. Artists navigation ---------------------------------------------------
*/
.artists-navigation .song {
  background-color: #fff;
}

.filter {
  background-color: #ddd;
}
.filter label {
  font-size: 110%;
  padding: 0 0 0 10px;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.6px;
  font-size: 1.1em;
  font-weight: 600;
}
.filter input {
  background-color: black;
  padding: 0 0 0 10px;
}

a.active {
  background-color: #ddd !important;
}

/*
  --  5. Songs and playlist panels --------------------------------------------
*/
.playlist-header {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
  background-color: #ddd;
}

.list thead {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  background-color: #ddd;
}
.list thead tr th {
  padding: 0 10px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
}
.list tbody {
  font-family: "Lato", sans-serif;
}
.list tbody tr {
  cursor: pointer;
}
.list tbody tr td {
  padding: 5px;
}
.list tbody tr:nth-child(even) {
  background-color: #ddd;
}
.list tr.playing, .list tr.selected {
  background-color: #ddd !important;
}
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  --  6. Albums view ----------------------------------------------------------
*/
.album-container .album-controls {
  background-color: rgba(0, 0, 0, 0.6);
}

/*
  --  7. Radios ---------------------------------------------------------------
*/
.radio .radioName {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border: 0px solid red;
}
.radio .radioUrl {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.radio .icon-play, .radio .icon-pause {
  cursor: pointer;
  font-size: 4em;
}
.radio.activeRadio {
  background-color: #ddd !important;
}

.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #ddd;
}

/*
  --  8. Settings-view --------------------------------------------------------
*/
.settings {
  padding-bottom: 20px;
  border-bottom: 1px solid #666 !important;
}
.settings table {
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
}

.settings a {
  font-size: 18px;
}

/*
  --  9. Mobile menu ----------------------------------------------------------
*/
ul.topNav {
  background-color: #eee;
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/
.mobileButton {
  border: 1px solid #666;
  background-color: #eee;
}
.mobileButton:hover {
  background-color: #ddd;
}

/*
  -- 11. Forms ----------------------------------------------------------------
*/
input[type=text] {
  color: #111;
  background-color: #eee;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: 1px solid #555 !important;
}

.input-reset {
  background-color: #ddd;
}

.input-reset:after {
  color: #111;
  background-color: #ddd;
}

/*
  -- 12. Crud forms -----------------------------------------------------------
*/
form div div label {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.6px;
}

form div div input {
  font-size: 1.2em;
  letter-spacing: 0.6px;
  padding: 5px 10px;
  width: 300px;
  border: 1px solid #666;
}

.button {
  color: #111;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}

.button:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}
.button:hover.danger:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5));
}

.running {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5)) !important;
}
.running:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5)) !important;
}

/*
  -- 13. Context menus --------------------------------------------------------
*/
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  list-style: none;
  padding: 10px 0;
  background-color: #eee;
}
.songsContextMenu .menu-options .menu-option, .playlistContextMenu .menu-options .menu-option {
  font-family: "Muli", sans-serif;
  letter-spacing: 1px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background-color: #ddd;
}

/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1024px) {
  /* -- Radios -- */
  .radio .radioName {
    font-size: 2em;
  }
  .radio .radioUrl {
    font-size: 1.2em;
  }

  /* -- Crud forms -- */
  form div div label {
    text-align: right;
    display: inline-block;
    padding: 20px 50px;
    width: calc(50% - 100px);
  }
}

/*# sourceMappingURL=screen.css.map */
