/*
  -- Default styling ----------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");
/* line 5, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  -- Global -------------------------------------------------------------------
*/
/* line 25, ../sass/screen.scss */
html, body {
  font-family: 'Lato', sans-serif;
}

/* line 29, ../sass/screen.scss */
body {
  color: #111;
  background-color: #eee;
}

/* line 43, ../sass/screen.scss */
a {
  color: #111;
  text-decoration: none;
  line-height: 1.2em;
  font-weight: 700;
}

/* line 50, ../sass/screen.scss */
h1 {
  border-bottom: 1px solid;
  text-align: center;
  padding: 30px 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
}

/* line 59, ../sass/screen.scss */
h2 {
  padding: 10px 20px;
  font-family: 'Muli', sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
  border-bottom: 1px solid #666;
}

/*
  -- Topbar -------------------------------------------------------------------
*/
/* line 71, ../sass/screen.scss */
.topbar {
  border-bottom-color: #666;
}
/* line 74, ../sass/screen.scss */
.topbar .logo {
  font-family: 'Muli', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 700;
}
/* line 81, ../sass/screen.scss */
.topbar .songInfo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}
/* line 87, ../sass/screen.scss */
.topbar .songTitle {
  font-weight: 900;
  font-size: 120%;
}
/* line 92, ../sass/screen.scss */
.topbar .songArtist {
  color: #333;
}
/* line 96, ../sass/screen.scss */
.topbar .timeInfo {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 1px;
}

/* line 106, ../sass/screen.scss */
#searchForm input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

/* line 116, ../sass/screen.scss */
nav.topbarNav a {
  font-size: 18px;
  display: inline-block;
  padding: 0 20px;
  letter-spacing: 1px;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}
/* line 124, ../sass/screen.scss */
nav.topbarNav a:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}

/*
  -- Artists navigation -------------------------------------------------------
*/
/* line 134, ../sass/screen.scss */
.artists-navigation .song {
  background-color: #fff;
}

/* line 139, ../sass/screen.scss */
.filter {
  background-color: #ddd;
}
/* line 142, ../sass/screen.scss */
.filter label {
  font-size: 110%;
  padding: 0 0 0 10px;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.6px;
  font-size: 1.1em;
  font-weight: 600;
}
/* line 152, ../sass/screen.scss */
.filter input {
  background-color: black;
  padding: 0 0 0 10px;
}

/* line 158, ../sass/screen.scss */
a.active {
  background-color: #ddd !important;
}

/*
  -- Songs and playlist panels ------------------------------------------------
*/
/* line 166, ../sass/screen.scss */
.playlist-header {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
  background-color: #ddd;
}

/* line 175, ../sass/screen.scss */
.list thead {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  background-color: #ddd;
}
/* line 180, ../sass/screen.scss */
.list thead tr th {
  padding: 0 10px;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 80%;
  letter-spacing: 1px;
}
/* line 190, ../sass/screen.scss */
.list tbody {
  font-family: 'Lato', sans-serif;
}
/* line 192, ../sass/screen.scss */
.list tbody tr {
  cursor: pointer;
}
/* line 194, ../sass/screen.scss */
.list tbody tr td {
  padding: 5px;
}
/* line 198, ../sass/screen.scss */
.list tbody tr:nth-child(even) {
  background-color: #ddd;
}
/* line 203, ../sass/screen.scss */
.list tr.playing {
  background-color: #ddd !important;
}
/* line 207, ../sass/screen.scss */
.list .icon-plus, .list .icon-minus {
  color: #aaa;
}

/*
  -- Radios -------------------------------------------------------------------
*/
/* line 217, ../sass/screen.scss */
.radio .radioName {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 0px solid red;
}
/* line 223, ../sass/screen.scss */
.radio .radioUrl {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 228, ../sass/screen.scss */
.radio .icon-play, .radio .icon-pause {
  cursor: pointer;
  font-size: 4em;
}
/* line 233, ../sass/screen.scss */
.radio.activeRadio {
  background-color: #ddd !important;
}

/* line 238, ../sass/screen.scss */
.radio:nth-child(4n+2), .radio:nth-child(4n+3) {
  background-color: #ddd;
}

/*
  -- Context menus ------------------------------------------------------------
*/
/* line 246, ../sass/screen.scss */
.songsContextMenu, .playlistContextMenu {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}
/* line 249, ../sass/screen.scss */
.songsContextMenu .menu-options, .playlistContextMenu .menu-options {
  list-style: none;
  padding: 10px 0;
  background-color: #eee;
}
/* line 254, ../sass/screen.scss */
.songsContextMenu .menu-options .menu-option, .playlistContextMenu .menu-options .menu-option {
  font-family: 'Muli', sans-serif;
  letter-spacing: 1px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}
/* line 260, ../sass/screen.scss */
.songsContextMenu .menu-options .menu-option:hover, .playlistContextMenu .menu-options .menu-option:hover {
  background-color: #ddd;
}

/*
  -- Settings -----------------------------------------------------------------
*/
/* line 271, ../sass/screen.scss */
.settings {
  padding-bottom: 20px;
  border-bottom: 1px solid #666 !important;
}
/* line 275, ../sass/screen.scss */
.settings table {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
}

/* line 281, ../sass/screen.scss */
.settings a {
  font-size: 18px;
}

/*
  -- Forms ---------------------------------------------------------------
*/
/* line 289, ../sass/screen.scss */
input[type="text"] {
  color: #111;
  background-color: #eee;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  border: 1px solid #555 !important;
}

/* line 297, ../sass/screen.scss */
.input-reset {
  background-color: #ddd;
}

/* line 301, ../sass/screen.scss */
.input-reset:after {
  color: #111;
  background-color: #ddd;
}

/*
  -- Crud forms ---------------------------------------------------------------
*/
/* line 310, ../sass/screen.scss */
form div div label {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.6px;
}

/* line 316, ../sass/screen.scss */
form div div input {
  font-size: 1.2em;
  letter-spacing: 0.6px;
  padding: 5px 10px;
  width: 300px;
  border: 1px solid #666;
}

/* line 324, ../sass/screen.scss */
.button {
  color: #111;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  background: linear-gradient(to top, rgba(34, 34, 34, 0.2), rgba(51, 51, 51, 0.1));
}

/* line 334, ../sass/screen.scss */
.button:hover {
  background: linear-gradient(to top, rgba(34, 34, 34, 0.1), rgba(51, 51, 51, 0));
}
/* line 337, ../sass/screen.scss */
.button:hover.danger:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5));
}

/* line 342, ../sass/screen.scss */
.running {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5));
}
/* line 345, ../sass/screen.scss */
.running:hover {
  background: linear-gradient(to top, #cc0000, rgba(204, 0, 0, 0.5));
}

/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1024px) {
  /* -- Radios -- */
  /* line 357, ../sass/screen.scss */
  .radio .radioName {
    font-size: 2em;
  }
  /* line 360, ../sass/screen.scss */
  .radio .radioUrl {
    font-size: 1.2em;
  }

  /* -- Crud forms -- */
  /* line 366, ../sass/screen.scss */
  form div div label {
    text-align: right;
    display: inline-block;
    padding: 20px 50px;
    width: calc(50% - 100px);
  }
}
