<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Soonic{% endblock %}</title>

        <link href="/css/screen.css?1" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/css/layout.css?54" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/css/fontello-embedded.css" media="screen, projection" rel="stylesheet" type="text/css" />

        {% set theme = theme_helper.get() %}

        {% if file_exists('css/themes/' ~ theme ~ '/screen.css') %}
            <link href="/css/themes/{{ theme }}/screen.css?4" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% if file_exists('css/themes/' ~ theme ~ '/layout.css') %}
            <link href="/css/themes/{{ theme }}/layout.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% block stylesheets %}{% endblock %}

        <script src="/js/jquery-3.4.1.min.js"></script>

        {% block js %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('common/topbar.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
