<section id="playlistSection" class="playlist">
    <div class="playlist-header">
        {{ 'playlist'|trans }}
        <i id="playlistInfos" style="display: none">
            :
            <i id="playlistNumFiles">0</i>
            <i id="playlistFile">file</i>
            (<i id="playlistDuration">00:00</i>)
         </i>
        <i class="icon-trash"></i>
    </div>
    <div class="playlist-container">
        <table id="playlist" class="list">
            <thead>
            <tr>
                <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="mobileButton mobileBackButton mobilePlaylistToSongsButton">
        <i class="icon-left-open"></i>
    </div>
</section>
